input[type="text"]{
    margin: 5px;
    display: block;
}

input[type="number"]{
    display: block;
}
input[type="submit"]{
    display: block;
    margin-top: 10px;
}

button{
    padding: 6px;
    margin-left: 97%;
}


form{
    text-align: center;
    margin-left: 50px;
    border: black solid;
    background-color: #ffe4e1;
    padding: 40px;
}

p{
    color: red;
    font-size: 20px;
}

input{
    margin-left: 48%;
}

#inpute{
    margin-left: 45%;
}

.rta{
    color: red;
    font-size: 30px;
}
