input[type="text"]{
    margin: 5px;
    display: block;
}

input[type="number"]{
    display: block;
}
input[type="submit"]{
    display: block;
    margin-top: 10px;
}
table thead tr{
    background: #fe8737;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
table thead tr th{
    padding: 10px;
}
table tbody tr{
    text-align: center;
    padding: 80%;
    font-family: Arial, Helvetica, sans-serif;
}
table tbody tr:nth-child(2n+1){
    background: #ffd9ce;
}
table tbody tr:nth-child(2n){
    background: #ffeee7;
}

button{
    padding: 6px;
    margin-left: 97%;
}

button:hover{
    background-color: aqua;
    color: red;
}

table{
    padding: 10px;
}

label{
    color: black;
}

form{
    margin: 50px;
}

div{
    padding-bottom: 10px;
}

form{
    text-align: center;
    margin-left: 50px;
    border: black solid;
    background-color: #ffe4e1;
    padding: 40px;
}

p{
    color: red;
    font-size: 20px;
}

#input1{
    border: 2px solid red;
    margin-left: 45%;
}

#input1:hover{
    background: rgb(225, 215, 215);
}

#input2{
    border: 2px solid red;
    margin-left: 45%;
}

#input2:hover{
    background: rgb(225, 215, 215);
}

#input3{
    border: 2px solid red;
    margin-left: 48%;
}

#input3:hover{
    background: rgb(225, 215, 215);
}

label{
    font-size: 20px;
    font-weight: bold;
}
